@media all {
#logo { padding:0; width:auto; float:left;}
#logo h1 { margin:0; padding:10px 0 5px 0; color:#1b680c; font:bold 44px/1.2em "Cabin Sketch", 'Open Sans', sans-serif; letter-spacing:-2px;} /* color:#357c26; */
#logo h1 a, h1 a:hover { color:#1b680c; text-decoration:none;border-bottom:0;} /* color:#357c26; */
#logo h1 a:hover { color:#47ae32; }
#logo h1 span { padding-left:4px;font:normal 18px/1.2em Delius, 'Open Sans', sans-serif; letter-spacing:normal; color:#246f15;} /*color:#47ae32;*/
#logo h1 small { padding-left:4px; font:normal 12px/1.2em Delius, 'Open Sans', sans-serif; letter-spacing:normal; color:#959595;}

/* Forms */
textarea {font-size:0.7em;line-height:1.2em;}// Explicit line-height required for jquery.autosize-min.js
form ol { list-style:none;}
form ol li { display:block; clear:both;}
form ol li label { display:block; margin:0; padding:16px 0 0 0;}
form ol li input.text { width:480px; border:1px solid #c0c0c0; margin:0; padding:5px 2px; height:16px; background-color:#fff;}
form ol li textarea { width:480px; border:1px solid #c0c0c0; margin:0; padding:2px; background-color:#fff;}
form ol li .send { margin:16px 0 0 0;}

/* Grids (Generic) */
div.index {  
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    background:#f1f7e9;
    padding: 1em;
  }
div.index li,
div.index ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 0.4em;
}
div.index ol > li {
    list-style-type: decimal;
}
div.index h2 a,
div.index h1 a{
    color: #000;
    text-decoration:none;
}
@media screen and (max-width: 575px) {
    div.index {  
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
      }
}

/* Reference Data */
table.reference, table.reference table { width:100%;border-bottom:1px solid yellowgreen;background-color:#fff;border-spacing:0; }
table.reference td, table.reference th { padding:3px;border-top:1px solid yellowgreen;border-right:1px solid yellowgreen;min-width:100px; }
table.reference td:first-child, table.reference th:first-child { border-left:1px solid yellowgreen; }
table.reference th { background-color:#f1f7e9;color:#47ae32; }

/* Code Editors */
.codeEditor { background:#fff;border:1px solid #ccc;padding:10px; } /*#f5f2f0*/
.codeEditor h3:first-child {margin:0;padding:0;}
.codeEditor .source,  .codeEditor .preview .previewFrame {width:48%;min-height:300px;background:#fff; }
.codeEditor .source { float:left;border-right:1px solid #eee;}
.codeEditor .source .code, .codeEditor .source .code:focus { outline:0px solid transparent; }
.codeEditor .preview .previewFrame { float:right;border:1px solid #fff;}
.codeEditorCaption {padding:1px 15px;background:#ebf9e8;color:#65885e;width:37%;float:right;margin:0 0 2em 2em;font-family:Delius;}
.codeEditorCaption h2 {color: darkgreen;}
.codeEditorCaption kbd, .codeEditorCaption samp, .codeEditorCaption code {color: #47ae32;}

/* Override Prism styles */
:not(pre) > code[class*="language-"],
.codeEditor pre[class*="language-"] {
	background: #fff;
    font-size: .8em;
}

/* Code Examples */
.example {
width:100%;
background-color:#cefbc5;
border-collapse:collapse;
}
.exampleHeader {
background-color: yellowgreen;
color:#fff;
border:1px solid yellowgreen;
}
.exampleCode {
width:210px;
height:100px;
}
.exampleCode textarea {
width:200px;
height:100px;
margin:5px;
}
.exampleDisplay {
width:450px;
padding:10px;
}
.exampleCode, .exampleDisplay { 
border:1px solid yellowgreen;
vertical-align:top;
background:#fff;
}

/* Color Picker */
.color-picker-wrapper {background-color: #f1f7e9;}

/* HTML Editor */
table.code-snippet {width:100%;border-collapse:collapse;margin-top:10px;margin-bottom:20px;border:1px solid yellowgreen}
table.code-snippet th.code, table.code-snippet th.result {color:#47ae32;background-color:#f1f7e9;text-align:center;padding:5px;}
table.code-snippet td.code, table.code-snippet td.result {min-height:100px;vertical-align:top;background:#fff;}
table.code-snippet td.code {width:190px;height:100%;background-color:#f1f7e9;text-align:center;padding:1%;}
table.code-snippet td.result {padding:3%;}
table.code-snippet td.code textarea {width:85%;height:85%;min-height:130px;color:#696969;border:0;border-top-left-radius:10px;}
table.code-snippet .more-info {margin-top:20px;padding:3px;border:1px dotted #47ae32;color:#634a08;background-color:#f1f7e9;float:right;}
table.code-snippet input[type="submit"] {background-color: #47ae32; color: white; border:0;}
table.code-snippet input[type="submit"]:hover {background-color: orange; cursor: pointer;}
table.code-snippet input[type="submit"]:active {background-color: gold;}
table.code-snippet input[type="submit"]:focus {outline:0;}

/* Templates */
.html-templates {  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;}
.html-templates img {border:1px solid black;box-shadow: 7px 7px 20px 0px  rgba(0,0,0,0.5);
	}
.html-templates div p {font-size:90%;}
.html-templates div p>a {font-size:130%;}
.html-templates img {max-width:100%;}
.html-templates div h3>a {background:yellowgreen;text-decoration:none;color:white;padding:10px;font-size:80%}
div.more {min-height:0px;max-width:100%;clear:both;}

/* Pagination */
ul#nav{list-style-type:none;margin:0;padding:1px;}
ul#nav li a{display:block;min-width:100px;color:#fff;background:yellowgreen;text-align:center;text-decoration:none;padding:1px 7px;}
ul#nav li a:hover{color:#fff;background:orange;text-decoration:none;}
ul#nav .previous{float:left;margin:10px;font-weight:bold;}
ul#nav .next{float:right;margin:10px;font-weight:bold;}
#content #contentbar ul#nav li { list-style:none; }

/* Features & Ads */
.feature { background:#47ae32;border-top:1px solid #357c26;border-bottom:1px solid #357c26; }
.feature-ad { margin:28px auto 28px;height:200px;text-align: center}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
}
@media print
{
#footerblurb, #content #sidebar, #top-nav, #search-box-top, .feature, .ad {display:none;}
#content #contentbar {width:100%;}
#content-inner {border:none;}
img {max-width:100%}
}